form{
  margin-left:43%;
  margin-top:3%;
}

ul{
  margin-left:10%;
  margin-top:80px;
  inline-size: 80%;
  text-align:justify;
}

li{
  margin-top: 20px;
}

h1{
  font-size: 50px;
  margin-left:38%;
}

p{
  margin-left:44%;
  margin-top: 5px;
  color: red;
}

input{
  padding:10px 15px;
  font-size: 0.9rem;
}

button{
  padding:10px 15px;
}

#spinner{
  position: absolute;
  top: 50%;
  left:50%;
}